*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;


}
section{
  margin: 0%;
  padding: 0;
}
.profile-body{
  position: relative;
  max-width: 2000px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0%;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.16);
  margin: 5%;
  height: auto;


  
}
.header{

  height: 70px;
  padding: 0 20px;
}
.logo{

  color: #000;
  line-height: 70px;
  float: left;
  text-transform: uppercase;
  }

.menu{

  float: right;
  line-height: 70px;
}
.menu a{
  color: #000;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.3s;
  font-weight: bold;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.3s;
  font-size: 30px;
  cursor: pointer;
  display: none;
  color: #000;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 70px;

}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #000;
  font-size: 25px;
  font-weight: bolder;

}
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;

}





.profile-name{
  padding-top: 10%;
  margin-top: 0%;
  margin-left: 5%;
  align-items: center;
}
.profile-name h3{
  font-size: 1.5vw;
  font-weight: bold;
}
.profile-name h1{
  font-size: 3.5vw;
}
.profile-name h2{
  font-size: 2vw;
  font-weight: normal;
  align-items: center;
}
.profile-pic{
  width: 50%;
  max-width: 2000px;
  min-width: 200px;
  float: right;
  align-items: center;
  margin-top: 5%;
  margin-right: 5%;
}

.follow-me{
  padding-top: 5%;
  margin-top: 0%;
  margin-left: 5%;
  text-align: center;
}
.follow-me h1{
  font-size: 20px;
  font-weight: bold;
}
.social-media-top{
  line-height: 70px;
}
.social-media-top a{
  color: #FF8000;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.3s;
  font-weight: bold;
}
.social-media-top a:hover{
  color: #000;
}

.profile-vid-cover img{
  width: 100%;
  max-width: 2000px;
  min-width: 200px;
  float: none;
  align-items: center;
  margin-top: 10%;
}
.profile-vid-cover p{
  position: relative;
  font-size: 15px;
  font-weight: normal;
  padding: .5%;
  color: #fff;
  background: orange;
  height: auto;
  text-align: center;

}

.recent-tab h1{
  margin-top: 10%;
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
}
.image-design img{
  width: 40%;
  max-width: 2000px;
  min-width: 200px;
  margin-left: 30%;
}
.button{
  text-align: center;
}
.btn{
  border: 1px solid #000;
  background: none;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover{
  border: 1px solid #FF8000;
  background: #FF8000;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
  color: #fff;
  text-align: center;
  transition: 0.3s;
  box-shadow: rgba(0,0,0,.16);
}






.social-tab{
  position: relative;
  max-width: 2000px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0%;
  background: #c4c4c4;
  box-shadow: 0 5px 15px rgba(0,0,0,.16);
  height: 100px;
  margin-top: 10%;
}
.social-media{

  float: right;
  line-height: 70px;
}
.social-media a{
  color: #000;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.3s;
  font-weight: bold;
}
.social-media a:hover{
  color: #FF8000;
}
.error{
  top: 50%;
}
.error img{
  width: 60%;
  height: 60%;
  margin-top: 10%;
  margin-left: 20%;
  max-width: 2000px;
  min-width: 200px;
 
}

@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.3s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }



  .profile-pic{
    width: 90%;
    max-width: 800px;
    min-width: 100px;
  
  }
  .profile-name{
    margin-top: 5%;
    padding-top: 10%;
    text-align: center;
  }
  .profile-name h3{
    font-size: 3vw;
    font-weight: bold;
  }
  .profile-name h1{
    font-size: 8vw;
  }
  .profile-name h2{
    font-size: 4vw;
    font-weight: normal;
    align-items: center;
  }








  .recent-tab{
    margin-top: 10%;
  }
  .recent-tab h1{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
  }
  .image-design img{
    width: 80%;
    max-width: 2000px;
    min-width: 200px;
    margin-top: 5%;
    margin-left: 10%;
  }
  .btn{
    border: 1px solid #000;
    background: none;
    padding: 10px 20px;
    font-size: 10px;
    font-weight: normal;
    cursor: pointer;
    transition: 0.3s;
  }

  .error img{
    width: 100%;
    margin-top: 50%;
    margin-left: 0;
    max-width: 2000px;
    min-width: 200px;
   
  }

}
